<div id="title">
  <img src="assets/img/yo1.jpg">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <h3>{{email}}</h3>
</div>

<article class="about">
  <h2>Sobre Mi</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Accusantium aperiam blanditiis consectetur culpa cupiditate,
    dignissimos error esse eum ex ipsa iure iusto magnam maiores nam nihil
    nisi nulla perferendis provident quam quo quod reprehenderit sapiente sed
    sint ullam vel voluptas voluptatem. Eum harum hic iure neque obcaecati rerum
    vero voluptas.
  </p>

</article>
